body{
    overflow-x: hidden;
}

h1{
    color: blue;
    background-color: aqua;
    display: flex;
    justify-content: center;
}

h2{
    text-decoration: underline;
    background-color: crimson;
    color: aliceblue;
    display: flex;
    justify-content: center;

}

#welcome{
    color: cornflowerblue;
    background-color: black;
}

#submit{
    color: beige;
    background-color: black;
    
}

.messege-bar{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(12, 122, 98);
    color: white;
    padding: 10px 25px;
    transform: translateX(100%);
    transition: transform .5s;
}

.messege-bar.show{
    transform: translateX(0);

}


